%p#about
  Copyright &copy; 2009-2011 IT From All Angles | Powered by
  %a{:href => "http://wordpress.org/"} WordPress
  | Theme by
  %a{:href => "http://www.neoease.com/"} NeoEase
%ul#admin
  %li
    %a{:href => "http://blog.allanglesit.com/wp-login.php"} Log in
.fixed
